<div class="content" role="main">
  <div class="upperDiv">
    <button (click)="moveUp()"></button>
  </div>
  <div class="leftDiv">
    <button (click)="moveLeft()"></button>
  </div>
  <div class="rightDiv">
    <button (click)="moveRight()"></button>
  </div>
  <div class="bottomDiv" (click)="moveDown()">
    <button></button>
  </div>
  <div id="container" class="centerDiv">
    <div id="logo" class="logo" [ngStyle]="{'top': top, 'left': left}">
      <img class="image" src="../assets/logo.png">
    </div>
  </div>
</div>


<router-outlet></router-outlet>